body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

#timetable {
    display: grid;
    grid-template-columns: 80px repeat(5, 100px);
    gap: 2px;
    margin-top: 20px;

	user-select: none;
}

#timetable > div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;

    border: 1px solid #ccc;
    box-sizing: border-box;
}

#timetable > button {
    height: 40px;

    border: 1px solid #ccc;
    background-color: white;

    cursor: pointer;
}
#timetable >button.selected {
	background-color: lightblue;
}
